@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  color: #fff;
  background-color: none;
}

nav {

  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
}

ul {
  font-family: inter;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 4rem;
  margin: 0.5rem;

  background-color: none;
  width: 100rem;
  height: 5rem;
}

.login {
  font-family: inter;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: none;
  width: 20rem;
  height: 5rem;
  margin: 0.5rem;
}

.log{
  color: #fff;
  font-family: inter;
  font-weight: 300;
  text-align: center;

  background: transparent;
  width: 120px;
  height: 50px;
  border-width: 2px;
  border-color:  #fff;
  border-radius: 100%;
}

.logo {
  font-family: inter;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: none;
  width: 10rem;
  height: 5rem;
  margin: 0.5rem;
}

.gemtxt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gemtxt h1 {
  color: #fff;
  font-family: inter;
  font-weight: 900;

  font-size: 5rem;
  width: 35rem;
  height: auto;
  gap: 0.1rem;
  text-align: left;
}

.testrs {
  color: #f9afda;
}

.testaz {
  color: #11947c;
}

.gemtxt .txtrem p {
  color: #fff;
  font-family: inter;
  font-weight: 300;
  text-align: left;

  font-size: 1.5rem;
  width: 30rem;
  height: auto;
}

.gemtxt .boxgem img {
  width: 35rem;

}

.txtrem {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;

  
  gap: 5rem;
}

.btn1{
  width: 35rem;
  margin: 1rem;


  display: flex;
  gap: 2rem;
}

.btn_get {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #000000;
  font-family: inter;
  font-weight: 300;
  text-align: center;
  font-size: 1.5rem;
  background: #fff;   
  width: 200px;
  height: 80px;
  position: relative;
  border-radius: 100%;
  z-index: 1;
}

.btn_get::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 70%;
  border: 2px solid #868686;
  border-radius: 100%;
  transform: rotate(-10deg);
  pointer-events: none;
  z-index: -1;
}


.btn_vd{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  font-family: inter;
  font-weight: 100;
  text-align: center;
  font-size: 1.3rem;


  background: none;
  width: 200px;
  height: 80px;
  border-width: 2px;
  border-color: #fff;
  border: none;
}

i{
  font-size: 1.5rem;
  font-weight: 100;
}

footer{
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: right;
  margin: 1rem;
}

.qr{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: inter;
  font-weight: 300;
  text-align: center;
  font-size: 1.3rem;
}

.flx{
  display: flex;
  gap: 0.5rem;
}